@model Clients.Add



@using (Ajax.BeginForm("_ClientsAdd", "Masters",
        new { src = ViewBag.src },
         new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnBegin = "ShowLoadingDialog()" },
            new { @id = "_DepartmentAddForm" })
    )
{


    
    @Html.HiddenFor(x => Model.ClientID)
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label> Name<sup>*</sup></label>
        @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>Code </label>
        @Html.TextBoxFor(model => model.ClientCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ClientCode, "", new { @class = "text-danger" })
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>Display Name </label>
        @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>Other Code </label>
        @Html.TextBoxFor(model => model.OtherCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OtherCode, "", new { @class = "text-danger" })
    </div>

   
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>Priority</label>
        @Html.TextBoxFor(model => model.Priority, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
    </div>

    <div class="col-lg-12 form-group">

        @if (Model.ClientID > 0)
        {
            <button type="submit" class="btn btn-indigo" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
        }
        else
        {
            <button type="submit" class="btn btn-indigo" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
        }
    </div>

</div>
}